[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
alembic = "*"
sqlalchemy = "*"
pydantic = "*"
psycopg2 = "*"
requests-html = "*"
lxml = {extras = ["html_clean"], version = "*"}
asyncpg = "*"
apscheduler = "*"
marshmallow = "*"
dotenv = "*"
flask-openapi3 = {extras = ["swagger", "async"], version = "*"}

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"

[requires]
python_version = "3.13"
